body {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
}

header {
    background-color: teal;
    padding: 1rem;
    box-shadow: 0px 7px 5px 0px #EFEFEF;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;

}    

/*header css*/
#page-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem;
    font-size: 1rem;

}

#page-header h2 {
    margin-right: 3rem;
    font-size: 2rem;
}

#page-header button {
    border-radius: 5px;
    background-color: teal;
    color: white;
    font-size: 1.5rem;
    border: none;
    box-shadow: 4px 4px 5px 0px #EFEFEF;
}

#page-header button:hover {
    background-color: turquoise;
}

/*main css*/
#page-main {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin-left: 20%;
    margin-right: 20%;
    min-height: 60vh;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid rgb(185, 182, 182);
    box-shadow: 4px 4px 5px 0px #EFEFEF;
}

/*footer css*/
#page-footer {
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem;
    font-size: 1.5rem;
}

#page-footer button {
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
    color: teal;
}

#page-footer button:hover {
    color: turquoise;
}